@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body, #root { height: 100%; }
body { @apply antialiased bg-white text-gray-900; }

/* Auto scrolling banner */
@keyframes scroll-x {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
.animate-scroll-x {
  width: 400%;
  animation: scroll-x 20s linear infinite;
}
.swiper-button-next,
.swiper-button-prev {
  color: #b89563;  
  margin:15px;         
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;          
}


